h2, .notes {
  font-family: 'Reenie Beanie', cursive;
  font-size:    40px;
}

#text {
    width: 960px;
    margin: 0 auto;
    margin-bottom: 0px;
}

.box-text {
    width: 960px;
    margin: 0 auto;
    margin-bottom: 0px;
    border: 2px solid #ccc;
}


.left_col {
    float: left;
    width: 450px;
}

.right_col {
    float: right;
    width: 450px;
}

.clear {
    clear: both;
}

.container {
    position: relative;
    margin: 0 auto;
    top: 10px;
    z-index: 10;
    border-radius: 10px;
    border: 2px solid #00f;
}

#vdp-box {
    width: 960px;
    /*height: 900px;*/
}

#dist-container {
    width: 450px;
    height: 450px;
}

#sync-container {
    width: 900px;
}

.vector-field {
    position: absolute;
    /*top: 65px;
    left: 65px;*/
    background-color: transparent;
    border: 1px dashed blue;
    border-radius: 10px;
}

#intro-vector-field {
    top: 65px;
    left: 65px;
}

#dist-vector-field {
    top: 65px;
    left: 65px;
}


#intro-fig {
    position: relative;
    top: 0px;
    left: 30px;
    width: 900px;
    height: 450px;
    background: transparent;
    border: 1px dashed cyan;
}

      
#intro-oscillator {
    position: absolute;
    top: 0px;
    left: 0px;
    background: transparent;
    border: 1px dashed red;
}

#dist-oscillator {
    position: absolute;
    top: 0px;
    left: 0px;
    background: transparent;
    border: 1px dashed red;
}


.scope {
    position: absolute;
    background: transparent;
    border: 2px dashed green;
}

#x-scope {
    top: 0px;
    right: 0px;
}

#y-scope {
    top: 0px;
    right: 0px;
}

#sync-scope {
    position: absolute;
    top: 0;
    right: 0;
    background: transparent;
    border: 1px dashed green;
}

.axis text {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

#intro-controls {
    position: absolute;
    top: 0;
    left: 45px;
    width: 360px;
    height: 50px;
    background: transparent;
    border: 2px dashed red;
}

#intro-checkbox {
    position: absolute;
    top: 20px;
    left: 15px;
    width: 120px;
    height: 20px;
    background: transparent;
    border: 1px dashed gray;
}

#mu-slider {
    position: absolute;
    top: 5px;
    left: 175px;
    width: 150px;
    height: 50px;
    background: transparent;
}

#mu-value {
    position: absolute;
    top: 20px;
    left: 335px;
}

#mu-label {
    position: absolute;
    top: 20px;
    left: 150px;
}


#x-label {
    position: absolute;
    bottom: 15px;
    left: 220px;
    width: 20px;
    height: 20px;
    background: transparent;
}

#y-label {
    position: absolute;
    bottom: 230px;
    left: 20px;
    width: 20px;
    height: 20px;
    background: transparent;
    /* border: 1px dashed gray; */
}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}

.trace {
  fill: none;
  stroke: url(#line-gradient);
  stroke-width: 0.5px;
  opacity: 1;
}

.text-button {
    cursor: pointer;
    background: #ddf;
    padding-left: 5px;
    padding-right: 5px;
    /*border-bottom: 1px dotted green;*/
    border-radius: 10px;
}

#acw-label{
    position: absolute;
    top: 100px;
    right: 200px;
    /*width: 20px;
    height: 20px;*/
    background: transparent;
    /* border: 1px dashed gray; */
}

#cw-label{
    position: absolute;
    bottom: 100px;
    right: 200px;
    /*width: 20px;
    height: 20px;*/
    background: transparent;
    /* border: 1px dashed gray; */
}



