h2, .notes {
  font-family: 'Reenie Beanie', cursive;
  font-size:    40px;
}


#text {
    width: 960px;
    margin: 0 auto;
    margin-bottom: 0px;
}

.box-text {
    width: 800px;
    margin: 0 auto;
    margin-bottom: 0px;
    border: 2px solid #ccc;
}


.left_col {
    float: left;
    width: 450px;
}

.right_col {
    float: right;
    width: 450px;
}

.clear {
    clear: both;
}

.container {
    position: relative;
    margin: 0 auto;
    top: 10px;
    z-index: 10;
    border-radius: 10px;
    border: 2px solid #ccc;
}

#vdp-box {
    width: 900px;
    height: 900px;
}

#dist-container {
    width: 450px;
    height: 450px;
}

#sync-container {
    width: 450px;
}

.vector-field {
    bottom: 65px;
    left: 65px;
    position: absolute;
    background-color: transparent;
    border: 1px dashed blue;
    border-radius: 10px;
}
      
#intro-oscillator {
    position: absolute;
    bottom: 0px;
    left: 0px;
    background: transparent;
    border: 1px dashed red;
}

#x-scope {
    position: absolute;
    bottom: 0px;
    right: 0px;
    background: transparent;
    border: 1px dashed green;
}

#y-scope {
    position: absolute;
    bottom: 0px;
    right: 0px;
    background: transparent;
    border: 1px dashed green;
}

#sync-scope {
    position: absolute;
    top: 65px;
    left: 225px;
    background: transparent;
    border: 1px dashed green;
}

.axis text {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

#intro-checkboxes {
    position: absolute;
    bottom: 440px;
    left: 20px;
    width: 200px;
    height: 100px;
    background: transparent;
    border: 1px dashed gray;
}

#intro-sliders {
    position: absolute;
    bottom: 440px;
    right: 20px;
    width: 200px;
    height: 100px;
    background: transparent;
    border: 1px dashed gray;
}


#x-label {
    position: absolute;
    bottom: 30px;
    left: 219px;
    width: 20px;
    height: 20px;
    background: transparent;
    /* border: 1px dashed gray; */
}

#y-label {
    position: absolute;
    bottom: 230px;
    left: 20px;
    width: 20px;
    height: 20px;
    background: transparent;
    /* border: 1px dashed gray; */
}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}

.trace {
  fill: none;
  stroke: url(#line-gradient);
  stroke-width: 0.5px;
  opacity: 1;
}

.text-buttons {
    cursor: pointer;
    background: #ddf;
    padding-left: 5px;
    padding-right: 5px;
    /*border-bottom: 1px dotted green;*/
    border-radius: 10px;
}